# Data processing and visualization
pandas==2.2.2
Levenshtein==0.25.1
librosa==0.10.1
resampy==0.4.3
tensorflow==2.15.0 # Windows users may need to enable "long paths"
scikit-maad==1.4.1
./src/submodules/birdnetlib # Install the local birdnetlib submodule fork as a package

# GUI application
customtkinter==5.2.2
tkinterdnd2==0.4.2
CTkMenuBar==0.8
